/* Estilos para la barra de busqueda  */
.buscador-lupa {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    position: relative; /* Establece la posición relativa con respecto a la lupa */
    margin-bottom: 10px;
}
.buscador-lupa form {
    display: flex; 
    justify-content: center; /* Centra los elementos horizontalmente */
    border-radius: 20px; /* Establece borde redondeado */
}
.buscadorNav {
    padding: 10px 10px 10px 45px; /* Agrega relleno al campo de búsqueda */
    border: none; /* Quita borde */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 20px; /* Establece borde redondeado */
    width: 330px; /* Ocupa todo el ancho disponible */
}
.lupa {
    width: 40px; /* Establece ancho del icono de lupa */
    height: 40px; /* Establece alto del icono de lupa */
    position: absolute; /* Posición absoluta con respecto a la barra de busqueda */
    top: 6px; /* Posición superior */
    left: 25px; /* Posición izquierda */
    background-image: url(../img/lupa.png); /* Establece la imagen para el icono de lupa */
    background-size: 28px 28px; /* Tamaño de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-color: transparent; /* Fondo transparente para el icono de lupa */
    border: 0px; /* Quita borde al icono de lupa */
}
@media (min-width: 600px) {
    .lupa {
        top: 6px; /* Posición superior */
        left: 385px; /* Posición izquierda */
    }
    .buscador-lupa form {
        width: 50%;
    }
    .buscadorNav {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}