.titulo-principal h1 {
    font-size: 40px;
}
table {
    color: white;
    border-collapse: collapse;
    width: 100%;
}
.titulos-columnas {
    font-size: 30px;
}
th {
    padding: 20px; /* Agrega relleno alrededor del enlace */
    border: 2px solid black; /* Agrega borde negro */
    text-align: center;
    cursor: pointer;
}
th:hover {
    background-color: #ccc;
}
.cuerpo-columnas {
    font-size: 20px;
}
td {
    padding: 20px; /* Agrega relleno alrededor del enlace */
    border: 2px solid black; /* Agrega borde negro */
    text-align: center;
    cursor: pointer;
}
/* Estilos para la imagen del álbum */
.album-imagen {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    max-width: 200px; /* Ajusta el ancho máximo de la imagen */
}
.play-icon {
    font-size: 50px; /* Ajusta el tamaño del icono según tus preferencias */
}