/* Estilos para el contenedor principal del formulario */
main {
    display: flex; /* Usa flexbox para el diseño */
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
}

/* Estilos para enlaces */
a {
    width: 25%; /* Establece el ancho del enlace */
    text-align: center; /* Centra el texto dentro del enlace */
}

/* Estilos para el contenedor del formulario */
.form-container {
    display: flex; /* Usa flexbox para el diseño */
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 400px; /* Establece el ancho del contenedor del formulario */
}

/* Estilos para los campos de entrada de texto */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
    width: 400px; /* Establece el ancho de los campos de entrada de texto */
    margin-top: 5px; /* Margen superior */
    margin-bottom: 10px; /* Margen inferior */
    padding: 10px; /* Agrega relleno alrededor de los campos de entrada */
    border: 1px solid black; /* Agrega borde negro */
    border-radius: 5px; /* Establece el borde redondeado */
}

/* Estilos para el elemento con clase "premium" */
.premium {
    display: flex; /* Usa flexbox para el diseño */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para el contenedor de botones */
.boton {
    display: flex; /* Usa flexbox para el diseño */
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
}

/* Estilos para los botones */
button {
    font-size: 15px; /* Tamaño de fuente */
    background-color: #4caf50; /* Color de fondo */
    color: white; /* Color de texto */
    padding: 10px 50px; /* Agrega relleno alrededor del botón */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Establece el borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    margin-left: 0px; /* Establece margen izquierdo */
}
