* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 50px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 178px;
}

.form{
    margin-top: 200px;
    margin-left: 700px;
}
#tarjeta{
    position: absolute;
    margin-top: 150px;
    margin-right: 700px;
    width: 400px;
}
.controls {
    width: 300px;
    background: transparent;
    padding: 20px 30px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #0d00ff;
    font-family: 'calibri';
    font-size: 25px;
    color: white;
}
.boton {
    padding: 20px 30px;
    border-radius: 4px;
    margin-bottom: 15px;
    font-family: 'calibri';
    font-size: 30px;
    background: linear-gradient(rgb(0, 17, 255), rgb(74, 100, 133), rgb(31, 124, 163));
    color: white;
    border: none;
    margin-left: 100px;
}
.boton:hover {
    border: 2px solid white;
    cursor: pointer;
}


