/* Resetear estilos y definir estilos básicos de la página */
body {
    font-family: Arial, sans-serif; /* Fuente para el cuerpo del documento */
    /* font-family: 'Baumans', cursive; */
    margin: 0;
    padding: 0;
}
img {
    width: 100%; /* Ajusta todas las imágenes al ancho del contenedor */
}
a {
    text-decoration: none; /* Quita subrayado de los enlaces */
}

/* ESTILOS PARA EL CONTENEDOR PRINCIPAL */
.main-container {
    display: flex;
}

/* ESTILOS PARA EL SIDEBAR */
.sidebar {
    flex: 0.5; /* Ocupa 33% del ancho */
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Estilos para el Nav */
nav ul {
    list-style: none; /* Quita viñetas de la lista */
    padding: 0;
}
nav ul li a {
    color: black; /* Color de texto */
    font-weight: bolder; /* Fuente en negrita */
    display: block; /* Convertir en elemento bloque para ocupar todo el ancho */
    padding: 30px; /* Agrega relleno alrededor del enlace */
    border: 2px solid black; /* Agrega borde negro */
    border-bottom: none; /* Quita borde inferior */
    transition: background-color 0.3s, color 0.3s; /* Transición para cambios de color */
}
nav ul li:last-of-type {
    border-bottom: 2px solid black; /* Agrega borde negro */
}
nav ul li a:hover {
    background-color: #4caf50; /* Cambia el fondo al pasar el mouse */
    color: white; /* Cambia el color de texto al pasar el mouse */
}

nav ul li a.activo {
    background-color: #4caf50; /* Fondo distinto para la vista actual */
    color: black; /* Cambia el color de texto para la vista actual */
}

/* Estilos para Musica Sonando */
.musica-sonando .album {
    padding: 0; /* Elimina el padding */
}
.musica-sonando h3,
.musica-sonando p{
    text-align: start; /* Alinear texto a la izquierda */
}
.musica-sonando .container-star {
    top: 20px;
    right: 20px;
}

/* ESTILOS PARA EL CONTENIDO PRINCIPAL */
.contenido-principal {
    flex: 2; /* Ocupa 66% del ancho */
    padding: 0 10px; /* Agrega relleno izq y der */
}

/* ESTILOS PARA EL HEADER */
.container-header {
    display: flex;
    justify-content: space-between; /* Distribuir elementos en el espacio disponible */
    align-items: center; /* Centra verticalmente los elementos */
    margin: 10px;
}
.logo {
    width: 75%; /* Ajusta el ancho del logo*/
}
.info-usuario {
    display: flex;
    align-items: center;
}
.detalles-usuario {
    margin-right: 15px;
}
.info-usuario h2 {
    font-size: 35px; /* Tamaño de fuente */
    margin: 0; /* Elimina el margen superior del nombre de usuario */
    margin-bottom: 5px; /* Margen inferior para separar el nombre de usuario del enlace de cierre de sesión */
}
.imagen-avatar {
    width: 100px; /* Ajusta el ancho del avatar*/
    border: 1px solid black; /* Agrega borde negro */
}

/* ESTILOS PARA EL REPRODUCTOR */
.reproductor {
    padding: 15px 0;
    border: 1px solid black; /* Agrega borde negro */
    margin: 10px;
}
audio {
    width: 100%; /* Ajusta el ancho del reproductor */
}
audio::-webkit-media-controls-panel {
    background-color: white; /* Establece el fondo de los controles de audio */
}

/* ESTILOS PARA EL FOOTER */
.contenedorFooter {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
}
.integrantes {
    border: 1px solid black; /* Agrega borde negro */
}
.integrantes ul {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos bajen a la siguiente línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    list-style: none; /* Quita viñetas de la lista */
    font-size: 18px; /* Tamaño de fuente */
    margin: 0;
    padding: 0;
}
.integrantes ul li {
    margin: 5px;
    width: 40%; /* Establece el ancho de cada nombre al 40% para dos nombres por fila */
    text-align: center; /* Centra el texto horizontalmente */
}